body {
  font-family: "Lato", sans-serif;
}
#title{
   padding-top:4px;
   font-size:1.5em;
   font-size:600;
}
.header{
   background:#87ceeb;
   height:35px;
   display:flex;
   justify-Content: space-between;
   margin-top:50px;
}
.list{
   display:flex;
   flex-direction:column;
   border-right:1px solid #444;
   border-top:1px solid #444;
   padding:30px 15px;
}
.listing-container{
   display:flex;
   flex-wrap:wrap;
   padding:0px;
   margin-top:10px;
   border-bottom:1px solid #444;
   border-left:1px solid #444;
   margin-bottom:80px;
}
.product-image{
   text-align:center;
}
.image{
   width:97%;
}
.product-details{
   display:flex;
   justify-content:space-between;
   font-weight:600;
   font-size:1.2em;
}
.sale-button{
   background:red;
   color:white;
   text-align:center;
   width:60px;
   padding:10px;
   margin:20px 0px;
}
.exclusive-button{
   background:green;
   color:white;
   padding:10px;
   text-align:center;
   width:100px;
   margin:20px 0px;
}
.default-btn{
   background:#fff;
   padding:22px;
   margin:20px 0px;
}
select{
   width: 200px;
   border-radius: 6px;
   height: 25px;
   padding-top: 2px;
   margin-top: 5px;
   font-size:.8em;
}
@media only screen and (max-width: 400px) {
   .product-details{
       flex-direction:column;
  }
   .header{
       height: auto;
       display: flex;
       flex-direction: column;
       padding: 30px 15px;
       margin-top:0px;
  }
}
